.pixel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  pointer-events: none; /* Crucial: lets you click the 3D model behind it */
  z-index: 10; /* Sits above the Canvas */
}

.pixel-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pixel-block {
  width: 100%;
  background-color: #d2e665;
  pointer-events: none;
}